extends ../layout

block content
  .list-container
    .list-header
      h1.page-title Whitelist Verwaltung
      .actions
        a.btn.btn-icon-only(href='/secured/whitelist/add', title='Neuer Whitelist-Eintrag')
          span.btn-icon +
    
    if success
      .success= success
    if error
      .error= error
    
    .table-wrapper
      table.vlans
        thead
          tr
            th Name
            th URL
            th Start
            th Ende
            th VLAN
            th Aktionen
        tbody
          each whitelist in whitelists
            tr(data-whitelist-id=whitelist.id)
              td= whitelist.name
              td
                a(href=whitelist.url, target='_blank', style='color: #1fa667; text-decoration: none;')= whitelist.url
              td= whitelist.start_display || '-'
              td= whitelist.end_display || '-'
              td= whitelist.vlan_name || whitelist.vlan_id
              td.action-buttons
                a.btn.btn-small.btn-icon-only(href=`/secured/whitelist/edit/${whitelist.id}`, title='Bearbeiten')
                  span.btn-icon ✎
                button.btn.btn-small.btn-danger.btn-icon-only(type='button', data-delete-whitelist=whitelist.id, data-whitelist-name=whitelist.name, title='Löschen')
                  span.btn-icon ✕

block scripts
  script.
    // CSRF-Token für Auto-Initialization bereitstellen
    const csrfToken = '#{csrfToken}';
    // DeleteHandler initialisiert automatisch alle [data-delete-whitelist] Buttons
